<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChingChongCha</title>
    <environment names="Development">
      <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
      <link rel="stylesheet" href="~/stylesheets/styles.css" />
    </environment>
    <environment names="Staging,Production">
      <link
        rel="stylesheet"
        href="~/lib/bootstrap/dist/css/bootstrap.min.css"
        asp-fallback-test-class="sr-only"
        asp-fallback-test-property="position"
        asp-fallback-test-value="absolute" />
      <link
        rel="stylesheet"
        href="~/stylesheets/styles.min.css"
        asp-append-version="true" />
    </environment>
  </head>
  <body ng-controller="AppController as appController">
    <div class="container body-content">
      @RenderBody()
      <footer>
        <p>&copy; 2016 - Simon Scheepers, ChingChongCha</p>
      </footer>
    </div>
    <environment names="Development">
      <script
        src="~/lib/jquery/dist/jquery.js"
        type="text/javascript"
        asp-append-version="true">
      </script>
      <script
        src="~/lib/bootstrap/dist/js/bootstrap.js"
        type="text/javascript"
        asp-append-version="true">
      </script>
      <script
        src="~/scripts/app.index.js"
        type="text/javascript"
        asp-append-version="true">
      </script>
      <script
        src="~/scripts/modernizr-custom.min.js"
        type="text/javascript"
        asp-append-version="true">
      </script>
    </environment>
    <environment names="Staging, Production">
      <script
        src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery">
      </script>
      <script
        src="~/lib/bootstrap/dist/js/bootstrap.min.js"
        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
      </script>
      <script
        src="~/scripts/app.index.min.js"
        type="text/javascript"
        asp-append-version="true">
      </script>
      <script
        src="~/scripts/modernizr-custom.min.js"
        type="text/javascript"
        asp-append-version="true">
      </script>
    </environment>
    @RenderSection("scripts", required: false)
  </body>
</html>
