$colors:(
  black:#000,
  blue:(
    light:#c6dde1,
    regular:#1b69a5,
    dark:#003259
  ),
  green:(
    dark:#00a99d,
    default:#22b573,
    extralight:#d6edd0
  ),
  grey:(
    default:#666,
    extralight:#f2f2f2,
    light:#ccc,
    medium: #999
  ),
  orange:(
    default:#fbb03b,
    light:#f7c684
  ),
  pink:(
    default:#e61e79,
    light:#e46ba2
  ),
  red:(
    dark:#c00,
    flat:#f5644c,
    vibrant:#f54533
  ),
  white:#fff
);
