@{
    ViewData["Title"] = "Lets Play";
}
<div class="row">
  <div class="col-md-12">
    <h1>Rock, Paper and Scissors</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>You</h3>
  </div>
  <div class="col-md-4">
    <div class="scoreboard">
      <div class="col-md-4 score">
        <h3 class="score-title">Wins</h3>
        {{PLAYER1}}
      </div>
      <div class="col-md-4 score">
        <h3 class="score-title">Ties</h3>
        {{TIE}}
      </div>
      <div class="col-md-4 score">
        <h3 class="score-title">Wins</h3>
        {{PLAYER2}}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>Computer</h3>
  </div>
</div>
