@{
    ViewData["Title"] = "Lets Play";
}
<div class="row">
  <div class="col-md-12">
    <h1>Rock, Paper and Scissors</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-mode">
      <div class="panel-wrapper">
        <h3 class="panel-title">Game Mode</h3>
        <div class="switchboard">
          <span>Human</span>
          <input id="game-mode" type="checkbox" mode-button ng-model="mode" /><label for="game-mode" class="button-switch"></label>
          <span>Computer</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 panel panel-player player-1" mode-state ng-class="{'computer-mode': mode}">
    <h3 class="panel-title">Player 1</h3>
    <div class="panel-wrapper">
      <p>Pick your hand and see who wins</p>
      <div class="row no-gutter">
        <div class="col-md-4">
          <a play-button type="0" class="button button-icon"><span class="fa fa-hand-rock-o"></span>Rock</a>
        </div>
        <div class="col-md-4">
          <a play-button type="1" class="button button-icon"><span class="fa fa-hand-paper-o"></span>Paper</a>
        </div>
        <div class="col-md-4">
          <a play-button type="2" class="button button-icon"><span class="fa fa-hand-scissors-o"></span>Scissors</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row scoreboard no-gutter">
      <div class="col-md-4">
        <div class="score">
          <h3 class="score-title">Wins</h3>
          <span score-player player="player1">{{score}}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="score">
          <h3 class="score-title">Ties</h3>
          <span score-player player="tie">{{score}}</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="score">
          <h3 class="score-title">Wins</h3>
          <span score-player player="player2">{{score}}</span>
        </div>
      </div>
    </div>
    <div class="row no-gutter">
      <div class="col-12 results-list">
        <h3 class="results-title">Game {{currentGame}} <span class="game-winner">{{winner}}</span></h3>
        <div class="results-list-header">
          <span class="col-md-3">#</span>
          <span class="col-md-3">Player 1</span>
          <span class="col-md-3">Winner</span>
          <span class="col-md-3">Player 2</span>
        </div>
        <ul>
          <li class="result-item" ng-repeat="result in results track by $index">
            <span class="col-md-3">{{result.round}}</span>
            <span class="col-md-3"><i class="fa fa-hand-{{result.player1}}-o"></i></span>
            <span class="col-md-3">{{result.winner}}</span>
            <span class="col-md-3"><i class="fa fa-hand-{{result.player1}}-o"></i></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 panel panel-player player-2">
    <h3 class="panel-title">Player 2</h3>
    <div class="panel-wrapper">
    </div>
  </div>
</div>
