.button {
  @include font(opensans, extrabold);
  @include font-size(20px);
  display:block;
  padding:15px 25px;
  border:0;
  border-bottom:5px solid color(pink, light);
  border-radius:3px;
  background:color(pink, default);
  color:color(white);
  cursor:pointer;
  text-align:center;
  text-transform:uppercase;
  transition:transform 0.2s ease-in;
  &:hover {
    border-bottom:5px solid color(orange, light);
    background:color(orange, default);
    color:color(white);
    text-decoration:none;
  }
  &-icon {
    margin:0 5px;
    .fa {
      @include font-size(50px, 54px);
    }
  }
  &-inactive {
    border-bottom:5px solid color(grey, light);
    background:color(grey, default);
  }
  &-switch {
    position:relative;
    margin:0;
    padding:15px 30px;
    border-radius:5px;
    background:color(pink, default);
    cursor:pointer;
    transition:all 0.5s ease-in;
    &:before {
      display:block;
      position:absolute;
      top:2px;
      left:2px;
      width:26px;
      height:26px;
      border-radius:3px;
      background:color(white);
      content:'';
    }
    input[type=checkbox]:checked + & {
      &:before {
        right:2px;
        left:auto;
      }
    }
  }
}
[type=checkbox] {
  position:absolute;
  left:-9999px;
  opacity:0;
}
