.panel {
  margin:0;
  border:0;
  box-shadow:none;
  .panel-title {
    margin:0;
    padding:100px 80px 10px;
    border-bottom:1px solid color(grey, extralight);
    background-repeat:no-repeat;
    background-size:contain;
  }
  &.player-1 {
    .panel-title {
      background-image:url('../images/player-human.png');
      text-align:left;
    }
  }
  &.player-2,
  &.computer-mode {
    .panel-title {
      background-image:url('../images/player-robot.png');
      background-position:right;
      text-align:right;
    }
  }
  &.computer-mode {
    .panel-title {
      background-position:left;
      text-align:left;
    }
  }
  &-mode {
    margin-bottom:30px;
    background:color(grey, extralight);
    .panel-title {
      @include font-size(24px);
      margin:0 0 25px;
      padding:0;
      border:0;
    }
  }
  &-wrapper {
    padding:20px;
  }
}
