.scoreboard {
  @include font(opensans, extrabold);
  text-align:center;
  .score {
    @include font-size(40px);
    margin:0 5px;
    padding:0 0 20px;
    border:1px solid color(grey, light);
  }
  .score-title {
    @include font-size(32px);
  }
}
.result {
  @include font(opensans, extrabold);
  @include font-size(28px);
  display:block;
  height:48px;
  margin:5px;
  padding:10px;
  color:color(green, default);
  text-align:center;
  text-transform:uppercase;
}
