.switchboard {
  overflow:hidden;
  span {
    @include font(opensans, bold);
    @include font-size(21px);
    display:inline-block;
    float:left;
    line-height:30px;
    color:color(grey, medium);
    text-transform:uppercase;
  }
  label {
    float:left;
    margin:0 10px;
  }
}
